.sideNavBar {
    flex-shrink: 0;
    height: 100%;
    border-radius: 0 24px 24px 0;
    background-color: #FFFFFF;
    padding: 24px 0 24px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    transition: width 1s;
    overflow: hidden;

    color: #181D1FBF;
}

.closed {
    width: 80px;
}

.opened {
    width: 200px;
}

.titleAndButton {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    color: #3F415A;
    padding: 0 10px 0 10px;
    margin-bottom: 30px;
    button {
        height: 30px;
        svg {
            height: 30px;
            width: 30px;
        }
    }
    span {
        overflow-x: hidden;
        white-space: nowrap;
    }
}

.rotated {
    transform: rotate(180deg);
}

.linkItem {
    width: auto;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 2.2vh;
    svg {
        flex-shrink: 0;
        height: 3.3vh;
        width: 3.3vh;
    }
    span {
        width: 110px;
    }
    border-radius: 16px;
    padding: 10px;
}

.linkItemOpened {
    justify-content: start;
}