.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.backAndHeader {
    font-size: 2.7vh;
    font-weight: 500;
    margin-bottom: 10px;
    .shopsLabel {
        color: gray;
    }
    a {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    display: flex;
    align-items: center;
    gap: 5px;
}
.backIcon {
    width: 2.7vh;
    height: 2.7vh;
}